apiVersion: apps/v1
kind: Deployment
metadata:
  name: copy
spec:
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels:
        app: myapp
    spec:
      nodeSelector:
        name: raza
      containers:
        - name: nginx
          image: nginx:latest
          ports:
            - containerPort: 80
