apiVersion: v1
kind: Pod
metadata:
  name: secure-demo
spec:
  containers:
    - name: app
      image: nginx:alpine
      securityContext:
        capabilities:
          add: ["NET_ADMIN", "SYS_TIME"]

